
<div class="container" style="margin-top: 20px;">
  <span class="heading">Buiding Diagram</span>
  <div class="row">
    <div class="col-2-5" style="margin-top: 10px;"  *ngFor="let flat of flatList" (click)="checkStatus(flat)">
      <div class="card" [ngClass]="{gray:flat.flatStatus=='N/A',green:flat.flatStatus=='Available',red:flat.flatStatus=='Booked'}">
        <div class="card-body" style="text-align: center;">
          <h2 class="card-title text">Flat - {{flat.flatId}}</h2>
        </div>
      </div>
    </div>  
  </div>
</div>